.filter-container {
  width: 100%;
  background-color: rgb(124, 124, 124);
  min-height: 50px;
  display: grid;
  place-items: center;

  & > .content {
    background-color: rgb(213, 213, 213);
    width: 100%;
    height: 100%;
    max-width: 1280px;
    display: grid;
    place-items: center;

    & > .form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 50px;
      padding: 25px;

      & > .actions {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        & > .side {
          width: max-content;
          display: grid;
          gap: 15px;

          & > label {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 15px;
            font-size: 14px;

            & > input[type="radio"] {
              cursor: pointer;
            }
          }
        }
      }

      & > input[type="text"] {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        text-indent: 15px;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .filter-container {
    height: auto;

    & > .content {
      padding: 25px;

      & > .form {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
      }
    }
  }
}
